html, .bg{
    background-color: rgb(29, 28, 28);
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}
.hide {
    display: none;
    background-color: transparent;
}

.summary {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
   0% {transform: translateX(110vw);}

}

@keyframes slide-out{
    100% {
        transform: translateX(110vw); 
        display: none;
    }
}

@keyframes slide-up{
    0% {
        transform: translateY(110vh);
    }
}

@keyframes slide-down{
    100% {
        transform: translateY(110vh);
        display: none;
    }
}

.slide-in {
    animation-name: slide-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.slide-out {
    animation-name: slide-out;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.slide-up {
    animation-name: slide-up;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.slide-down {
    animation-name: slide-down;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
}

#popup {
    background-color: rgb(29, 28, 28);
    width: 100vw;
    height: 150vh;
    position: absolute;
    opacity: .9;
    z-index: 1;
    top: 10vh;
}

@media screen and (max-width: 505px ){
    #popup {
        top: 5vh;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #32373d;
}